@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Vollkorn" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/resumestyle.css">
    <link rel="icon" href="~/images/favicon.ico">
    <title>Resume</title>

</head>
<body>
    <header>
        <p>
            <a href="mailto:me@gregorydukes.com" target="_blank"><img src="~/images/icons/icons8-letter-grey.png" alt="blue letter icon"></a>
            <a href="https://www.linkedin.com/in/gregory-dukes/" target="_blank"><img src="~/images/icons/icons8-linkedin.png" alt="linkedin icon"></a>
            <a href="http://facebook.com/gregory.dukes" target="_blank"><img src="~/images/icons/icons8-facebook.png" alt="facebook icon"></a>
            <a href="https://twitter.com/Dukes_GregoryD" target="_blank"><img src="~/images/icons/icons8-twitter.png" alt="twitter icon"></a>
            <a href="https://github.com/Kcils360" target="_blank"><img src="~/images/icons/icons8-github.png"></a>
        </p>
        
    </header>
    <section>
        <iframe frameborder="0"
                width="98%"
                height="100%"
                src="~/files/GregoryDukes.pdf" typeof="application/pdf">
            <p>Your browser doesn't support iFrames.</p>
        </iframe>
    </section>
    <footer>
        <ul class="contact">
            <li>(303) 803-6383</li>
            <li> | </li>
            <li><a href="mailto:me@gregorydukes.com" target="_blank">me@gregorydukes.com</a></li>
        </ul>
        <p>&copy; 2017 Gregory Dukes </p>
    </footer>
</body>
</html>